
section#download {
    margin-top: 50px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    height:150px;
    margin-bottom: 50px;
} 
#download h3 {
    text-align: left;
    font-family: 'PoppinsReg';
    font-size: 1.6em;
    font-weight: 900;
    margin-top: 60px;
}
#download a.button{ 
    margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 736px){
    section#download {
        margin-top: 30px;
        height:unset;
    }
    #download .grid .row img.ui.image {
        margin: 0 auto;
    }
}